*{
    margin: 0;
    padding: 0;
}

.hero__section{
    background-image: url(images/heroSectionBackground.png);
    min-height: 60vh;
    background-size: cover;
    background-position: center;
    color: white;
}

.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px 40px;
}

.navbar a {
    color: white;
    text-decoration: none;
}

.navbar__menu_container{
    display: flex;
    gap: 20px;
}

.user__icon{
    height: 30px;
    width: 30px;
    border: 1px solid white;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    display: none;
}



.hero__section_container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 32px;
}

.hero__section_logo{
    width: 200px;
    height: auto;
}

.hero__section_title{
    text-align: center;
    font-size: 30px;
    font-weight: 400;
}

.hero__section_input_container{
    background-color: white;
    width: 50%;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    border-radius: 10px;
}

.input_container_location, .input_container_search{
    padding: 5px;
    border: none;
    outline: none;
}

.input_container_location{
    width: 35%;
    border-right: 2px solid #e0e0e0;
}

.input_container_search {
    width: 65%;
}



@media only screen and (max-width: 600px) {
    .user__icon {
        display: flex;
    }

    .link {
        display: none;
    }

    .hero__section {
        min-height: 80vh;
    }

        .hero__section_input_container{
            flex-direction: column;
            background-color: transparent;
            width: 90%;
        }
        .input_container_location,
        .input_container_search {
            padding: 15px;
            width: 95%;
            border-radius: 10px;
        }

    .hero__section_title {
        font-size: 20px;
    }
}



.container{
    margin: 3rem auto;
    width: 90%;
}

.we__offer{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 0.5rem;
    align-items: center;
    justify-content: center;
}

.we__offer_card{
    border-radius: 10px;
    /* background-color: aqua; */
    overflow: hidden;
    border: 1px solid #e0e0e0;
    transition: all 0.3s ease;
}

.we__offer_card:hover{
    transform: scale(1.05);
}

.we__offer_card img{
    width: 100%;
    height: 220px;
    object-fit: cover;
    object-position: center;
}


.we__offer_content{
    padding: 10px;
}


.we__offer_content h2{
    font-size: 20px;
        font-weight: 400;
}

.we__offer_content p {
    font-size: 12px;
   
}



.collections h1{
    font-weight: 600;
}

.sub__heading_container{
    font-size: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 1rem;
}

.sub__heading_container span:nth-child(2){
    color: #ff7e8b;
    font-size: 13px;
    cursor: pointer;
}

.collections_card_container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 0.5rem;
    margin-top: 1.5rem;
}

.card{
    height: 300px;
    min-width: 240px;
    background-size: cover;
    background-position: center;
    border-radius: 10px;
    position: relative;
}

.card1{
    background-image: url('images/collection1.jpg');
}

.card2 {
    background-image: url('images/collection2.jpg');
}


.card3 {
    background-image: url('images/collection3.jpg');
}


.card4 {
    background-image: url('images/collection4.jpg');
}

.overlay{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 10px;
    background: linear-gradient(0deg, rgba(7, 7, 7, 1) 0%, rgba(11, 11, 11, 0.4052871148459384) 27%, rgba(0, 0, 0, 0.1) 37%, rgba(7, 7, 7, 0) 100%);
}

.content{
    position: absolute;
    bottom: 0;
    left: 0;
    color: white;
    padding: 12px 16px;
    font-size: 0.9rem;
}

.content h4{
    font-weight: 400;
    letter-spacing: 0.5px;
}

.get__the_app{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(255, 251, 247);
    /* background-color: red; */
    width: 100;
    padding: 3rem 6rem;
}

.semiConatiner{
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 1.5rem;
}

.left{
    flex: 2;
}

.left img{
    width: 100%;
    object-fit: cover;
    object-position: center;
}


.right{
    flex: 3;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}


.right h1{
    font-weight: 400;
    font-size: 2rem;
}

.right p{
    font-size: 0.8rem;
}

.radio__buttons_conatiner{
    display: flex;
    align-items: center;
    gap: 1rem;
}

.radio__buttons_conatiner div{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.radio__buttons_conatiner div input{
    accent-color: rgb(239, 79, 95);
    height: 15px;
    width: 15px;
}

.input_conatiner{
    display: flex;
    gap: 0.5rem;
    flex-wrap: wrap;
}

.input_conatiner input{
    flex: auto;
    border: 1.5px solid gray;
    outline: none;
    border-radius: 5px;
}

.input_conatiner button{
    border: none;
    background-color: rgb(239, 79, 95);
    color: white;
    cursor: pointer;
    border-radius: 5px;
}

.input_conatiner button , .input_conatiner input {
    padding: 10px 12px;
}

.download__app_container{
    display: flex;
    flex-direction: column;
    gap: 0.7rem;
}

.download__app_container h5{
    color: gray;
    font-weight: 400;
}


.download__app_container div{
    display: flex;
    gap: 1rem;
}

.download__app_container div img{
    width: 35%;
}

@media only screen and (max-width: 1300px){
    .left, .right{
        flex: 1;
    }
    .semiConatiner{
        width: 80%;
    }
}

@media only screen and (max-width: 900px) {

  .get__the_app{
    padding: 2rem;
  }

    .semiConatiner {
        width: 90%;
    }
}

@media only screen and (max-width: 700px) {

    .get__the_app {
        padding: 3rem 0;
    }

    .semiConatiner {
        width: 90%;
        flex-direction: column;
    }
}

.footer{
    width: 100%;
}

.footer_section1{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 80%;
    margin: auto;
    flex-wrap: wrap;
}

.footer_section1 img{
    width: 120px;
}

.section1__buttonContainer{
    display: flex;
    gap: 1rem;
   
}

.section1__buttonContainer button{
    border: 1px solid gray;
        background-color: transparent;
        padding: 5px;
        width: 90px;
        border-radius: 5px;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10px;
        cursor: pointer;
}

.navigation_container{
    display: grid;
    /* grid-template-columns: 1fr 1fr 1fr 1fr 1fr; */
    grid-template-columns: repeat(5, 1fr);
    width: 80%;
    margin: auto;
    gap: 1rem;
    padding: 3rem 0;
}

.link__container{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.link__container h5{
    font-weight: 500;
    font-size: 15px;
    margin-bottom: 5px;
    letter-spacing: 0.8px;
}

.footer__link{
    color: gray;
    text-decoration: none;
    font-size: 13px;
    font-weight: 300;
}

.footer__link:hover{
    color: black;
}


.social__links_container button{
    background-color: black;
    height: 25px;
    width: 25px;
    border-radius: 50%;
    border: none;
    cursor: pointer;
}


.social__links_container button i{
    color: white;
    font-size: 13px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer__section_logos{
    width: 100%;
}

@media only screen and (max-width: 900px){
    .navigation_container {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media only screen and (max-width: 450px) {
    .navigation_container {
        grid-template-columns: repeat(2, 1fr);
    }
}



@media only screen and (max-width: 300px) {
    .navigation_container {
        grid-template-columns: repeat(1, 1fr);
    }
}

.disclaimer{
    width: 95%;
    margin: auto;
    color: gray;
    border-top: 1px solid gray;
    padding-top: 1rem;
}